# IDE support files
/.classpath
/.launch
/.project
/.settings
/.idea

# logs
*.log

# "temporary" build files
/plugin.xml
/target
/target-eclipse

# This is project configuration if grails module is a module in a project
*.iml
.DS_Store

# other
CodeNarcReport.html
cobertura.ser
id_file
out
deploy
deploy-old
bin

